# Express API
NEXT_PUBLIC_API_BASE_URL=http://localhost:3333

# Firebase Web Push (from Firebase Console → Project Settings → General → Your apps → Web)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCWJIzdi6fk8mJELJAWRTD7-6AvK3SFkeI
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=texttile-253c7.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=texttile-253c7
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=texttile-253c7.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=132788988984
NEXT_PUBLIC_FIREBASE_APP_ID=1:132788988984:web:637aa3b7f15484c6cd8acd

# Web Push certificates (Firebase Console → Project Settings → Cloud Messaging → Web Push certificates)
NEXT_PUBLIC_FIREBASE_VAPID_KEY=BOZEg69WxqM1UVurD7-SIjYcyLg-m_YAe7Crh-zsKVpQm5uHB7w7IrHEakVKgJHDOck5j8ixH9Xs3WQspMoGL0M
NEXT_PUBLIC_SHARED_DOMAIN=https://text-tile-afdz.vercel.app
